<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Backbone.js Demo</title>
</head>

<body>
    <div id="reflactionArea"></div>
    <script type="text/template" id="reflectionField">
        <input type="text" id="textfield" placeHolder="enter some text" value="<%= config.data %>" style="width:300px;height: 30px;"/>
        <h1><%= config.data %> </h1>
    </script>
    <script src="../libraries/json2.js"></script>
    <script src="../libraries/jquery.js"></script>
    <script src="../libraries/underscore.js"></script>
    <script src="../libraries/backbone.js"></script>
    <script src="../libraries/backbone.localStorage.js"></script>
    <script src="js/app.js"></script>
</body>
</html>